<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sistema Comandas - Hotel Abba{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'garzon/css/garzon.css' %}">
</head>
<body>
    <!-- Barra superior -->
    <header class="barra-superior">
        <div class="barra-contenido">
            <img src="{% static 'img/abba-hotels-logo.png' %}" alt="Hotel Abba" class="logo-abba">        
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="logout-btn">Cerrar sesión</a>
            {% endif %}
        </div>
    </header>

    <!-- Contenedor general -->
    <main>
        <div class="contenedor-central">
            {% block content %}
            {% endblock %}
        </div>
    </main>
</body>
</html>