{% extends 'base.html' %}
{% block title %}Registro - Hotel Abba{% endblock %}

{% block content %}
<h2>Registro de nuevo usuario</h2>

<form method="post">
    {% csrf_token %}
    <div class="form-registro">
        {{ form.non_field_errors }}
        {% for field in form %}
            <div class="campo">
                <label>{{ field.label }}</label><br>
                {{ field }}
                {% if field.errors %}
                    <p class="error">{{ field.errors|striptags }}</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <button type="submit">Registrarme</button>
</form>

<!-- MENSAJE Y CONTADOR -->
{% if messages %}
    <div class="mensaje-exito">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
        <p>Serás redirigida al inicio de sesión en 
            <span id="contador">10</span> segundos...
        </p>
    </div>

    <script>
        let segundos = 10;
        const contador = document.getElementById("contador");

        const intervalo = setInterval(() => {
            segundos--;
            contador.textContent = segundos;

            if (segundos <= 0) {
                clearInterval(intervalo);
                window.location.href = "{% url 'login' %}";
            }
        }, 1000);
    </script>
{% endif %}

<p>¿Ya tienes cuenta? 
    <a href="{% url 'login' %}" class="link-registro">Inicia sesión</a>
</p>

{% endblock %}